<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f_coin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{115,0},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,176}</string>
                <key>spriteSourceSize</key>
                <string>{160,176}</string>
                <key>textureRect</key>
                <string>{{162,0},{160,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slow_down0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,186}</string>
                <key>spriteSourceSize</key>
                <string>{159,186}</string>
                <key>textureRect</key>
                <string>{{322,0},{159,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slow_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,186}</string>
                <key>spriteSourceSize</key>
                <string>{159,186}</string>
                <key>textureRect</key>
                <string>{{481,0},{159,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>f_background.png</string>
            <key>size</key>
            <string>{640,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295d38f6292ba5f8d1a0d40d82808d62:6c0a51d994363a47a208ddc6fc160995:d1811d4ec2b58f2fcdbeefcb8ed88518$</string>
            <key>textureFileName</key>
            <string>f_background.png</string>
        </dict>
    </dict>
</plist>
