<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{226,0},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,109}</string>
                <key>spriteSourceSize</key>
                <string>{115,109}</string>
                <key>textureRect</key>
                <string>{{341,0},{115,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_plist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1650,374}</string>
                <key>spriteSourceSize</key>
                <string>{1650,374}</string>
                <key>textureRect</key>
                <string>{{0,265},{1650,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,117}</string>
                <key>spriteSourceSize</key>
                <string>{113,117}</string>
                <key>textureRect</key>
                <string>{{113,0},{113,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,117}</string>
                <key>spriteSourceSize</key>
                <string>{113,117}</string>
                <key>textureRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,265}</string>
                <key>spriteSourceSize</key>
                <string>{398,265}</string>
                <key>textureRect</key>
                <string>{{854,0},{398,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,265}</string>
                <key>spriteSourceSize</key>
                <string>{398,265}</string>
                <key>textureRect</key>
                <string>{{456,0},{398,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,265}</string>
                <key>spriteSourceSize</key>
                <string>{398,265}</string>
                <key>textureRect</key>
                <string>{{1252,0},{398,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1650,639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e2dc6ef353664febfaa036f2a4ca08:90a94fe8c3c826036844b7d6d5e0e0c9:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
